In [ ]:
from datascience import *
import numpy as np

## Review of Tables ##

In [ ]:
skyscrapers = Table.read_table('skyscrapers.csv')
skyscrapers

#how would you show this entire table with show method?
#skyscrapers.show(200)

In [ ]:
OnlyNameHeight=skyscrapers.select('name', 'height')
#can you produce the same table by applying the drop method to the table skyscraper?
#alsoonlynameheight=skyscrapers.drop('material','city','completed')
#alsoonlynameheight
#OnlyNameHeight

In [ ]:
skyscrapers.drop('completed', 'height', 'material')

In [ ]:
skyscrapers

In [ ]:
skyscrapers.where('city', 'Los Angeles')
#Find all skyscrapers in Miama and construct a new table!
miamiskyscrapers=skyscrapers.where('city', 'Miami')
miamiskyscrapers
# Now sort miamiskyscrapers by height and delete comlmn
miamiskyscrapers = miamiskyscrapers.drop('city')
miamiskyscrapers

In [ ]:
skyscrapers.where('name', 'Empire State Building')

In [ ]:
skyscrapers.where('city', 'New York City').sort('completed')

In [ ]:
skyscrapers.where('city', 'New York City').sort('completed', descending=True)

# Sort Miama Skyscarpers by height from largest to smallest
miamiskyscrapers.sort('height',descending=True)

In [ ]:
chicago = skyscrapers.where('city', 'Chicago').drop('city')
chicago

In [ ]:
chicago.where('material', 'steel').sort('completed', descending=True)
# How many skyscrapers in Florida and Georgia are made of concrete?
ATLsky=skyscrapers.where('city', 'Atlanta')
#ATLsky.where('material','concrete')#5

#miamiskyscrapers.where('material','concrete')#4

## Numbers ##

In [ ]:
4 * 5 # int times an int produces an integer

In [ ]:
20  # int

In [ ]:
20 / 3  # float int divide by int produces a floats

In [ ]:
20 / 2  # also a float

In [ ]:
1234 ** 5 #very large integer

In [ ]:
123456789 ** 1234 #extermely large integer

In [ ]:
4 / 700

In [ ]:
4 / 700000000000000000

In [ ]:
0.12345678901234567890123456789 # a truncated float since we went past the floats memory storage

In [ ]:
0.12345678901234567890123456789 - 0.1234567890123456789 # we lost data since again these floats have more information then we can store

In [ ]:
10 ** 0.5 # Notice this answer is only up 16 decimal places!

In [ ]:
16 ** 0.5

In [ ]:
(10 ** 0.5) ** 2 # Here we get rounding error due to memory error! This is a rounding issue in python

In [ ]:
20 / 10 # we can change from floats to integers

In [ ]:
int(20 / 10)

In [ ]:
int(20 / 9) # this can also lead to trucated solutions since we are losing decimal accuray

In [ ]:
float(3)

In [ ]:
6 / 4

In [ ]:
6 / 4000

In [ ]:
6 / 400000000000000000000000000000000000000000000000000000000

In [ ]:
400000000000000000000000000000000000000000000000000000000 * 1.5e-56

In [ ]:
1.5e-56

In [ ]:
x = 5

In [ ]:
2x

In [ ]:
2 * x

In [ ]:
round(3.7) # Recall lastly we do have a round function. Notice it returned an integer here

In [ ]:
round(2.00000052345324, 2) # wheres here it returned a float it here

In [ ]:
10 * 3.0

## Strings ##

In [ ]:
'baby yoda' # correct string definition

In [ ]:
"baby yoda isn't yoda" #also correct

In [ ]:
#'baby yoda isn't yoda' # incorrect but we can fix this
"baby yoda isn't yoda"

In [ ]:
'straw' + 'berry' # concatenation we can add strings together to make one string

In [ ]:
'straw' + ' ' + 'berry' #howevere concatentaion just adds what is given together so if you want space you need to add that yourself

In [ ]:
'ha' * 10 # Same with multiplication but we can only multiple using ints

In [ ]:
'lo' * int(5.0)

In [ ]:
int('3') # we can convert this into an integer

In [ ]:
int(float('3.0')) # can error b/c this is a float number. We can fix by lfoat then int

In [ ]:
float('3.0')

In [ ]:
str(3)

In [ ]:
str(4.5)

## Types ##

In [ ]:
type(10)

In [ ]:
a = 10
type(a)

In [ ]:
type(4.5)

In [ ]:
type('abc')

In [ ]:
type(skyscrapers)

In [ ]:
type(True)

In [ ]:
type(abs)

## Arrays ##

In [ ]:
my_array = make_array(1, 2, 3, 4) # This function allows us to make arrays

In [ ]:
my_array # prints content and tpye 
type(my_array) # shows that this is an array from numpy

In [ ]:
my_array * 2 #elementwise multiplication

In [ ]:
my_array ** 2 #elementwise exponentiaon

In [ ]:
my_array + 1 #elementwise addition

In [ ]:
my_array # array is unchanged"

In [ ]:
len(my_array) #function that returns number of entries in array

In [ ]:
sum(my_array) # function that sums up all entires in arrray

In [ ]:
len(my_array) / sum(my_array)

In [ ]:
another = make_array(60, 70, 80, 90)

In [ ]:
my_array + another # adding arrays of same size addes elementiwise

In [ ]:
yet_another = make_array(5, 6, 7)

In [ ]:
my_array + yet_another # we cannont add arrays of different sizes

In [ ]:
tunas = make_array('bluefin', 'albacore', 'jim')
tunas

In [ ]:
sum(my_array) #find average

In [ ]:
np.average(my_array) #numpyarray pacakge has more methods that allow us to compute different values. we will find more next lecture
#np.prod(my_array)
#np.all(my_array)
np.cumsum(my_array)

In [ ]:
len(my_array)

## Columns of Tables are Arrays ##

In [ ]:
sf = skyscrapers.where('city', 'San Francisco') # in this last example we will see that the columns of a table are acutally arrays!
sf

In [ ]:
sf.select('height') # produce a table with only height!
type(sf.select('height')) # this is still a table

In [ ]:
sf.column('height') # we now introduce a new method. column : input is name of the column, output is the column data.  
type(sf.column('height')) # its an array!

In [ ]:
np.average(sf.column('height')) # We can use all the array functions on the columns

In [ ]:
la = skyscrapers.where('city', 'Los Angeles')
la

In [ ]:
np.average(la.column('height')) - np.average(sf.column('height'))