# Variable Types and Arrays #

In this notebook we will learn:
    
- About some of the different variable types
- How to convert between variable types (where possible)
- The basics of arrays
- Some array functions
- A little more about tables
- How to use the **arange** function to make an array

We will also see a few more graphs, some made from arrays and some made from tables.

In [ ]:
from datascience import *
import numpy as np

from datascience import *
import numpy as np
path_data = '../../../../../data/'
import matplotlib
matplotlib.use('Agg')
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import warnings
warnings.simplefilter(action="ignore", category=FutureWarning)

from urllib.request import urlopen 
import re
def read_url(url): 
    return re.sub('\\s+', ' ', urlopen(url).read().decode())

## Review of Tables ##

In [ ]:
skyscrapers = Table.read_table('skyscrapers.csv')
skyscrapers

In [ ]:
skyscrapers.select('name', 'height')

In [ ]:
skyscrapers.drop('completed', 'city', 'material')

In [ ]:
skyscrapers

In [ ]:
skyscrapers.where('city', 'Los Angeles')

In [ ]:
skyscrapers.where('name', 'Empire State Building')

In [ ]:
skyscrapers.where('city', 'New York City').sort('completed')

In [ ]:
skyscrapers.where('city', 'New York City').sort('completed', descending=True)

In [ ]:
chicago = skyscrapers.where('city', 'Chicago').drop('city')
chicago

In [ ]:
chicago.where('material', 'steel').sort('completed', descending=True)

## Numbers ##

In Python, numbers can be integers or floats.  

If you start a calculation with all integers then from most operations, the result will be an integer.  The primary exception to this is division.  

If there is ONE float involved in a calculation, the result will be a float.  (Unless you use a special function to convert it back to an integer after the float has been used--we'll learn about those in a bit.)

In [ ]:
4 + 5

In [ ]:
20  # int

In [ ]:
20 / 9  # float

In [ ]:
20 / 2  # also a float

In [ ]:
123456789 ** 50

In [ ]:
123456789.0 ** 20

In [ ]:
123456789 ** 2

In [ ]:
4 / 700

In [ ]:
(4 / 700000000000000000)

In [ ]:
0.12345678901234567890123456789

In [ ]:
0.12345678901234567890123456789 - 0.1234567890123456789

In [ ]:
10 ** 0.5

In [ ]:
16 ** 0.5

In [ ]:
(10 ** 0.5) ** 2

In [ ]:
26 / 9

In [ ]:
int(20 / 10)

In [ ]:
int(26/9)

In [ ]:
round(2.7777)

In [ ]:
float(3)

In [ ]:
6 / 4

In [ ]:
6 / 4000

In [ ]:
6 / 400000000000000000000000000000000000000000000000000000000

In [ ]:
400000000000000000000000000000000000000000000000000000000 * 1.5e-56

In [ ]:
6 / 1.5e-56

In [ ]:
x = 5

In [ ]:
2x

In [ ]:
2 * x

In [ ]:
x = 3
y = "4"
z = "5.6"

int(y)

In [ ]:
int(z)

In [ ]:
int(5.6)

In [ ]:
int(float("5.6"))

In [ ]:
round(5.6)

In [ ]:
round(2.00000052345324, 3)

In [ ]:
10 * 3.0

## Strings ##

Strings are essentially text, are set off by either single or double quotes.  A string **can** contain or consist of a number.

In [ ]:
'99 bottles of rootbeer'

In [ ]:
"99"

In [ ]:
"baby yoda"

In [ ]:
"baby yoda isn't yoda"

In [ ]:
'She said "Hello"'

In [ ]:
'baby yoda isn't yoda'

In [ ]:
'straw' + 'berry' # concatenation

In [ ]:
3 + 'berry'

In [ ]:
'straw' + ' '  + 'berry'

In [ ]:
'ha' * 10

In [ ]:
'lo' * 5.5

## Types ##

The `type` function will tell you what type of object Python considers something to be.

In [ ]:
Height = make_array("16m", "17m", "18m")
Height

In [ ]:
type(Height.item(0))

In [ ]:
type(Height)

In [ ]:
a = 10
type(a)

In [ ]:
type(4.5)

In [ ]:
type('abc')

In [ ]:
type(skyscrapers)

In [ ]:
type(True)

In [ ]:
type(abs)

In [ ]:
type(np.round)

In [ ]:
type(round(3.4))

In [ ]:
type(np.round(3.4))

In [ ]:
type('three')

In [ ]:
type(3)

## Arrays ##

Who wants to guess what the command `make_array` does?

In [ ]:
my_array = make_array(1, 2, 3, 4)

In [ ]:
my_array

In [ ]:
my_array * 2

In [ ]:
my_array ** 2

In [ ]:
my_array + 1

In [ ]:
my_array # array is unchanged

In [ ]:
another = make_array(60, 70, 80, 90)
another

In [ ]:
my_array + another

In [ ]:
yet_another = make_array(5, 6, 7)

In [ ]:
my_array + yet_another

### Function on Arrays ###

In [ ]:
len(my_array)

In [ ]:
sum(my_array)

In [ ]:
sum(my_array)/len(my_array)

In [ ]:
np.average(my_array)

In [ ]:
another = make_array(60, 70, 80, 90)

In [ ]:
len(yet_another)

In [ ]:
tunas = make_array('bluefin', 'albacore', 'jim')
tunas

In [ ]:
sum(tunas)

In [ ]:
make_array(1 , 22, 34, 56)

## Columns of Tables *are* Arrays ##

In [ ]:
sf = skyscrapers.where('city', 'San Francisco')
sf

In [ ]:
sf.select('height')

In [ ]:
sf.column('height')

In [ ]:
feet = sf.column('height')*3.28

sf_new = sf.with_column("height (ft)", feet)
sf_new

In [ ]:
sf

In [ ]:
sf.column(3)

In [ ]:
np.average(sf.column('height'))

In [ ]:
la = skyscrapers.where('city', 'Los Angeles')
la.show()

In [ ]:
np.average(la.column('height')) - np.average(sf.column('height'))

In [ ]:
np.average(la.column('height'))

In [ ]:
ny = skyscrapers.where('city', "New York City")
ny

In [ ]:
np.average(ny.column('height')) - np.average(la.column('height'))

In [ ]:
notny = skyscrapers.where('city', are.not_equal_to("New York City"))
notny

In [ ]:
onlyLAandNYC = skyscrapers.where('city', are.contained_in("Los Angeles New York City"))
onlyLAandNYC

In [ ]:
skyscrapers.where('city', are.not_contained_in("Los Angeles New York City"))

In [ ]:
len(ny.column(3))

In [ ]:
ny.num_rows

In [ ]:
skyscrapers.where("city", "Chicago").num_rows

## Seeing some other graphs ##

For now, let's not focus on how to make these graphs, although in the future we can all come back to these notebooks to look more closely at the code that generated them.  Instead, let's focus on reading and interpretting the graphs.

In [ ]:
plots.figure(figsize=(6, 6))
plots.scatter(ny.column(4), 
              ny.column(3), 
              color='red')
plots.scatter(la.column(4), 
              la.column(3), 
              color='darkblue')
plots.xlabel('Year Completed')
plots.ylabel('Height')
plots.title('Comparing LA to NYC');

In [ ]:
ticks=make_array(2.5, 3.5)
labels=make_array("NYC", "LA")

plots.figure(figsize=(6, 6))
plots.boxplot(ny.column(3), widths=.5, positions=make_array(ticks.item(0)) )
plots.boxplot(la.column(3), widths=.5, positions=make_array(ticks.item(1)) )
plots.xticks(ticks, labels)
plots.title("Boxplots Comparing NYC and LA Skyscrapers");

In [ ]:
ticks=make_array(2.5, 3.5)
labels=make_array("NYC", "LA")

plots.figure(figsize=(6, 6))
plots.boxplot(ny.column(3), widths=.5, positions=make_array(ticks.item(0)), showmeans=True)
plots.boxplot(la.column(3), widths=.5, positions=make_array(ticks.item(1)), showmeans=True)
plots.xticks(ticks, labels)
plots.title("Boxplots Comparing NYC and LA Skyscrapers");

In [ ]:
skyscrapers.group("city").sort('count', descending=True).barh('city')

In [ ]:
skyscrapers.group("city").where('count', are.above(5)).barh('city')

In [ ]:
skyscrapers.group("city").where('count', are.above(5)).barh('city')
plots.title("Number of Skyscrapers")
plots.xlabel("Number")
plots.ylabel("City");

In [ ]:
skyscrapers.group("city").where('count', are.above(7)).sort('count').barh('city')
plots.title("Number of Skyscrapers")
plots.xlabel("Number")
plots.ylabel("City");

In [ ]:
skyscrapers.group("city").where('count', are.above(7)).sort('count', descending=True).barh('city')
plots.title("Number of Skyscrapers")
plots.xlabel("Number")
plots.ylabel("City");

In [ ]:
skyscrapers.group("city").where('count', are.above(7)).sort('city').barh('city')
plots.title("Number of Skyscrapers")
plots.xlabel("Number")
plots.ylabel("City");

## Ranges ##

In [ ]:
make_array(0, 1, 2, 3, 4, 5, 6)

In [ ]:
np.arange(6)

In [ ]:
np.arange(7)

In [ ]:
np.arange(3, 9)

In [ ]:
np.arange(15, 7, -1)

In [ ]:
np.arange(1, 21, 2)

In [ ]:
np.arange(0, 21, 2)

In [ ]:
b = np.arange(0, 1.01, 0.01)
b

In [ ]:
a = np.arange(7)

In [ ]:
a

In [ ]:
a.item(6)

In [ ]:
a.item(0)

In [ ]:
b.item(49)